/*
Basic shit lmfao
*/
body {
  background-image: url("../mtdrawing2.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #000;
}
p {
  color: #000;
}
/* Navbar styles */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #684c87;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 4px;
  margin: 0 8px;
}
.navbar a:hover {
  background-color: #271935;
  color: #fff;
}