body {
  background-color: #ff1493;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #000;
}
p {
  color: #000;
}
a {
  color: #002147;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #0000ff;
  text-decoration: underline;
}
